.product-card {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 400px;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}
.product-image {
  border-radius: 10px;
  box-shadow: 1px 2px 7px black;
  position: absolute;
  inset: 0;
  top: 10px;
  left: 50px;
  width: 300px;
  height: 200px;
}
.product-info {
  padding: 16px;
}
.product-title {
  font-family: "Exo 2";
  position: relative;
  top: 220px;
  text-align: center;
  font-size: 1.5em;
}
.product-description {
  color: #666;
}
.product-price {
  font-size: 1.2em;
  color: #e74c3c;
}
.product-button {
  position: relative;
  top: 300px;
  display: block;
  border-radius: 20px;
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #3498db;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.product-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
  
}
.product-info h2 {
  margin: 0 0 10px;
}
.product-info p {
  margin: 0 0 15px;
}
.product-info .price {
  font-weight: bold;
  color: #e74c3c;
}
.product-info .description {
  font-size: 0.9em;
} 
.price{
  position: relative;
  top: 260px;
  font-size: 20px;
  text-align: center;
  font-family: "Exo 2";
}
span{
  font-size: 25px;
  font-family: "Coming Soon";
}
.favourite{
  box-shadow: 1px 2px 7px black;
  position: absolute;
  top: 20px;
  right: 60px;
  border-radius: 100px;
  background-color: white;
  width: 40px;
  height: 40px;
  background-size: cover;
  transition: all 0.3s ease;
  cursor: pointer;
}
.favourite:hover{
  transform: scale(1.1);
}

.basket{
  display: none;
  background-color: white;
  border-radius: 5px;
  height: 200px;
  width: 300px;
  inset: 0;
  bottom: 800px;
  margin: auto;
  position: fixed;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-name: basket;
  box-shadow: 1px 1px 6px black;
}

@keyframes basket {
    0%{
    bottom: 1700px; 
    }
    50%{
    top: 5px;  
    }
    100%{
    top: 10px;
    }
}


.close{
  position: absolute;
  left: 10px;
  top: 30px;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  transition: all 0.3s ease;
  border: 2px solid black;
}

.close:hover{
  transform: scale(1.1);
}

.close-icon{
  position: absolute;
  height: 30px;
  width: 30px;
}

.favourite-image{
  position: absolute;
  inset: 0;
  height: 40px;
  width: 40px;
}